#table-exercise th, #table-exercise td {
    border: 1px solid var(--mainColor2);
    text-align: left;
    padding: 8px;
}

#table-exercise table {
    padding: 20px;
}

#table-exercise td {
    cursor: pointer;
}

#table-exercise td.selected {
    background-color: var(--mainColor2);
}