.theme-toggler {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--mainColor2);
    height: 20px;
    width: 60px;
    padding: 10px;
}

.theme-toggler-selected {
    flex-direction: row-reverse;
    background-color: lightgreen;
}

.theme-toggler span {
    background-color: Var(--mainColor3);
    height: 100%;
    width: 40%;
}